.circular__Call__Btn {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.circular__Call__Btn:hover {
    filter: brightness(0.7);
}