.oval__Call__Btn {
    width: 6rem;
    height: 3.5rem;
    background-color: red;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.oval__Call__Btn:hover {
    filter: brightness(0.7);
}