User story: By default, I am in the Welcome channel
User story: I can create a new channel with a name and a description
User story: I can select a channel of my choice
User story: When I can select a channel, I am added as a member of the channel
User story: I can see a member of the channel
User story: I can send a message
User story: I can see other people's messages
User story(optional): I can search for a group