.incoming__Call__Overlay {
    --bg-overlay-color: rgba(18, 15, 19, 0.5);
    --card-bg-color: #120F13;
    --text-color: #F2F2F2;
    --text-color-2: #e0e0e0;
}

.incoming__Call__Overlay {
    background: var(--bg-overlay-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.incoming__Call__Overlay .incoming__Call__Container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: var(--card-bg-color);
    padding: 3% 2%;
    color: var(--bg-color);
}

.incoming__Call__Overlay .incoming__Call__Container .close__Icon {
    position: absolute;
    color: var(--text-color);
    top: 6%;
    right: 4%;
    cursor: pointer;
}


.incoming__Call__Overlay .incoming__Call__Container h1 {
    margin-bottom: 0;
    color: var(--text-color-2);
}

.incoming__Call__Overlay .incoming__Call__Container .incoming__Call__Btns__Container {
    display: flex;
    align-items: center;
    margin-top: 14%;
    justify-content: space-around;
}