.new__Channel__Popup__Overlay {
    --button-text-color: #F2F2F2;
}

.new__Channel__Popup__Overlay .new__Channel__Card__Item .all__Users__Container {
    overflow-y: auto;
    max-height: 60%;
}

.new__Channel__Popup__Overlay .new__Channel__Card__Item span {
    color: var(--button-text-color);
    display: block;
    margin-bottom: 4%;
}

.new__Channel__Popup__Overlay .new__Channel__Card__Item .all__Users__Container .chat__Tile__Container {
    width: 100%;
}